<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Uploaded files
            </h2>
        </template>

        <div class="py-12">
            
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 content-center mb-10">          
                <form @submit.prevent="submit">
                    <input class="form-control
                        w-1/3
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 
                        focus:bg-white 
                        focus:border-blue-600 
                        focus:outline-none" 
                        type="file" @input="form.file = $event.target.files[0]">
                        
                        <button class="text-white 
                            bg-gray-800 
                            hover:bg-gray-900 
                            focus:outline-none 
                            focus:ring-4 focus:ring-gray-300 
                            font-medium 
                            rounded-lg 
                            text-sm 
                            px-5 
                            py-2.5 
                            mr-2 
                            mb-2 
                            dark:bg-gray-800 
                            dark:hover:bg-gray-700 
                            dark:focus:ring-gray-700 
                            dark:border-gray-700 
                            ml-5" 
                            type="submit">
                                Submit
                        </button>

                </form>        
            </div>

            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">

                    <div class="p-6 bg-white border-b border-gray-200">
                           <div class="flex">
                                <div class="w-1/4">Name</div>

                                <div class="w-1/4">Upload time</div>

                                <div class="w-1/4">Size</div>

                                <div class="w-1/4">Actions</div>
                           </div>


                           <div class="flex text-indigo-600 mt-5" v-for="(file, index) in files">
                                <div class="w-1/4 truncate">{{ file.name }}</div>

                                <div class="w-1/4">{{ file.created_at }}</div>

                                <div class="w-1/4">{{ units(file.size) }}</div>

                                <div class="w-1/4">
                                    <a :href="url(file.path)" class="mr-5" download>Download</a>
                                    <Link method="post" href="/delete/file" :data="{ id: file.id }" class="mr-5">Delete</Link>

                                    <Link method="post" :href="'/rename/file/' + file.id" class="mr-5" :data="{ name: rename[index] }">Rename</Link>
                                    
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                    type="text" placeholder="New name" v-model="rename[index]">
                                    
                                </div>
                           </div>

                    </div>
                </div>
            </div>
            
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
    export default {
      data() {
        return {
            rename: {}
        }
      },
      props: ['files'],
      methods: {
        url: function(path){
            return path;
        }
      }
    }
</script>
<script setup>
    import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
    import { Head } from '@inertiajs/inertia-vue3';
    import { useForm } from '@inertiajs/inertia-vue3';
    import { Link } from '@inertiajs/inertia-vue3';

    const form = useForm({
          file: null,
        })

    function units(size) {
        let response;    
       
        if(size < 1024) {
           response = size + ' B'; 
        } else if(size < 1024*1024) {
           response =   (size/1024).toFixed(2) + ' kB';
        } else if(size < 1024*1024*1024) {
           response = (size/(1024*1024)).toFixed(2) + ' MB';
        } else {
           response = (size/(1024*1024*1024)).toFixed(2) + ' GB';
        }

        return response;
    }    

    function submit() {
      form.post(route('upload.file'))
    }
</script>